.footer {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  .logo {
    margin: 15px 25px;
    position: absolute;
    z-index: 5;
  }
}

@media screen and (max-width: 1136px) {
  .footer {
    .logo {
      display: none;
    }
  }
}
